/* ========== KOMMON ========== */

@font-face {
  font-family: "Open Sans Bold";
  src: url(../fonts/OpenSans-Bold.woff)
      format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url(../fonts/OpenSans-Regular.woff)
      format("woff");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans Bold", sans-serif;
}

a {
   text-decoration: none;
}

ul, il {
  list-style-type: none; 
}

.menu-link:hover, .more-link:hover, .preview-title:hover, .card-author:hover, .post-title:hover, .link_product_description:hover, .card_trend_title:hover, .teg-link:hover, .theme-link:hover, .copyright:hover {
  color: #b59f5b;
}

.sidebar-title::after, .trends_title::after, .products_title::after, .popup_title::after {
  content: " ";
  display: block;
  width: 65px;
  height: 3px;
  background-color: #e1d9bd;
  margin: 15px auto 0;
}

.subscription-button, .button-quiz {
  height: 45px;
  background-color: #b59f5b;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 16px;
  border: none;
  cursor: pointer;
}

.preview-content, .product_description {
  font-family: "Open Sans Regular", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #0f0d0e;
}

.preview-image, .post-image, .product_img {
  vertical-align: top;
}
/* ========== POPUP ========== */

.popup {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
}

.popup:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.7;
  z-index: -3;
}

.container_popup {
  position: relative;
  max-width: 390px;
  min-width: 330px;
  margin: auto;
  z-index: -2;
  font-family: "Open Sans Regular", sans-serif;
  font-size: 14px;
}

.popup_quiz {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 45px 30px 55px;
}

.form_popup {
  margin-top: 40px;
}

.popup_close_hint {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.button__close {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
  background-image: url("../svg/form-x.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  margin-left: calc(100% - 20px);
  margin-bottom: 5px;
}

.popup_title {
  font-family: "Open Sans Bold", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #0f0d0e;
  text-align: center;
}

.form-row-select {
  display: flex;
  margin-bottom: 30px;
}

.select {
  height: 45px;
  width: 100%;
  background-color: #f3f7f6;
  padding: 15px;
  border: none;
  margin-top: 10px;
  font-family: inherit;
  font-size: 13px;
  color: #717372;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../svg/form-arrows.svg");
  background-size: 10px 20px;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.form-row-radio {
  margin-bottom: 30px;
}

.radio_groups {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.radio-group {
  display: inline-block;
}

.radio-group:nth-of-type(n+2) {
  margin-left: 15px;
}

.radio-group-text::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("../svg/form-empty-circle.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: top;
  margin-right: 5px;
}

.radio:checked ~ .radio-group-text::before {
  background-image: url("../svg/form-circle.svg");
}

.radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
}

.form-row-quiz {
  margin-bottom: 25px;
}

.field-group_quiz {
  display: flex;
  flex-direction: column;
}

.field_quiz {
  margin-top: 10px;
  width: 100%;
  min-height: 120px;
  background-color: #f3f7f6;
  padding: 15px;
  border: none;
  font-family: inherit;
  font-size: 13px;
}

.button-quiz {
  width: 100%;
}

/* ========== HEADER ==========*/

.header {
  background-color: #000000;
  padding: 30px 0 150px;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
  width: 100%;
}

.header:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.header-wrapper {
  padding: 0 15px;
  margin: auto;
  max-width: 1200px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 185px;
}

.menu {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.menu_button {
  width: 25px;
  height: 20px;
  position: relative;
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.menu_button:after {
  bottom: 0;
}

.menu_button:before {
  top: 0;
}

.menu_button:before, .menu_button:after {
  content: "";
  width: 100%;
  height: 20%;
  position: absolute;
  background-color: #fff;
  left: 0;
}

.menu_button_lable {
  width: 100%;
  height: 20%;
  background-color: #fff;
  left: 0;
  position: absolute;
  top: calc(50% - 10%);
  text-indent: -9999px;
}

.menu-list-item:not(:first-child) {
  margin-left: 30px;
}

.menu-list {
  display: flex;
  flex-direction: row;
}

.menu-link {
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
}

.header-title {
  color: #ffffff;
  font-size: 45px;
  line-height: 1.7;
  text-transform: uppercase;
  max-width: 690px;
  text-align: center;
  margin: 120px auto 0;
}

/* ========== SECTION TRENDS ========== */

.section-trends {
  margin-top: 60px;
  width: 100%;
}

.trends_title, .products_title {
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #0f0d0e;
  text-align: center;
  margin-bottom: 40px;
}

.cards_trends_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card_trend {
  width: 24.7%;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
  padding: 20px;
  display: flex;
  align-items: flex-end;
}

.card_trend_1 {
  background-image: url("../images/trend1.jpg");
}

.card_trend_2 {
  background-image: url("../images/trend2.jpg");
}

.card_trend_3 {
  background-image: url("../images/trend3.jpg");
}

.card_trend_4 {
  background-image: url("../images/trend4.jpg");
}

.card_trend:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.content_card_trend {
  border: 3px solid #b59f5b;
  padding: 30px;
  width: 100%;
  margin-top: 60px;
}

.card_trend_title {
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #f4f7f6;
}

/* ========== MAIN ========== */

.section {
  margin-top: 65px;
  width: 100%;
}

.section-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
} 

.blogs {
  max-width: 780px;
}

.card {
  display: flex;
}

.card:not(:last-child) {
   margin-bottom: 65px;
}

.card-media {
  margin: 0 30px 0 0;
}

.more, .more_trend {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.more-list:not(:last-child) {
  margin-right: 20px;
}

.more-link {
  font-size: 14px;
  text-transform: uppercase;
  color: #b59f5b;
}

.preview-title {
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #0f0d0e;
  margin-bottom: 35px;
}

.card-metadata {
  display: flex;
  margin-bottom: 50px;
}

.time-metadata-item:not(:last-child) {
  margin-right: 20px;
}

.card-date {
  font-size: 12px;
  color: #888888;
}

.card-author {
  font-size: 12px;
  color: #0f0d0e;
}

p:not(:last-child) {
  margin-bottom: 15px;
}

/* ========== SIDEBAR ==========*/

.sidebar {
  width: 280px;
}

.posts {
  margin-bottom: 50px;
}

.sidebar-title {
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #0f0d0e;
  text-align: center;
  margin-bottom: 30px;
}

.post-media {
  margin: 0 20px 0 0;
}

.post {
  display: flex;
}

.post:not(:last-child) {
  margin-bottom: 25px;
}

.post-datetime {
  font-size: 12px;
  color: #888888;
  margin-bottom: 8px;
  display: block;
}

.post-title {
  font-size: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
}

/* ========== SEARCH ==========*/
.field {
  height: 45px;
  width: 100%;
  padding: 10px;
  background-color: #f4f7f6;
  border: none;
}

.search-form {
  display: flex;
}

.search-group {
  margin-bottom: 50px;
}

.search {
  width: calc(100% - 45px);
}

.search-hint {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  display: none;
}

.search-button {
  width: 45px;
  height: 45px;
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
  border: none;
  cursor: pointer;
}

/* ========== SUBSCRIPTION ==========*/
.subscription-form {
  display: flex;
  flex-direction: column;
}

.subscription-group {
  margin-bottom: 60px;
}

.subscription-hint {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

/* ========== TEGS ==========*/
.tegs {
  margin-bottom: 55px;
}

.tegs-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.teg-list-item {
  border: 3px solid #eeeeee;
  margin: 0 5px 5px 0;
}

.teg-link {
  font-size: 12px;
  color: #0f0d0e;
  text-transform: uppercase;
  display: block;
   padding: 8px 12px;
}

/* ========== TEMES ==========*/
.theme-list-item {
  display: block;
  border-bottom: 1px solid #eeeeee;
  padding: 18px 0 15px;
}

.theme-link {
  font-size: 14px;
  color: #0f0d0e;
}

.number {
  font-size: 12px;
  color: #b59f5b; 
  vertical-align: super;
}

/* ========== PRODUCTS ==========*/

.products-wrapper {
  margin: 65px auto 0;
  max-width: 1200px;
  padding: 0 15px;
}

.cards_products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product_imgbox {
  margin: 0 auto;
}

.product_img {
  margin: auto;
  width: 100%;
}

.card_product {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.product_body {
  border: 3px solid #b59f5b;
  padding: 55px 20px 20px;
  margin-top: -35px;
  flex-grow: 1;
 } 

.product_title {
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #0f0d0e;
}

.link_product_description {
  color: #b59f5b;
}

.product_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 25px;
}

.product-price {
  font-size: 20px;
}

.product-price_old {
  font-size: 14px;
  text-decoration: line-through;
}

.product_button {
  width: 140px;
  height: 45px;
  background-color: #b59f5b;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 16px;
  border: none;
  cursor: pointer;
}

/* ========== FOOTER ==========*/

.footer {
  margin-top: 65px;
  width: 100%;
  padding-bottom: 40px;
}

.footer-wrapper {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.socials {
  background-color: #f4f7f6;
  padding: 30px 0;
}

.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-link:not(:last-child) {
  margin-right: 30px;
}

.socials-link-icon {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
}

.socials-link-icon:hover {
  background-size: 24px;
}

.socials-link-text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.socials-link-icon-twitter {
  background-image: url("../svg/004-twitter.svg");
}

.socials-link-icon-pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.socials-link-icon-facebook {
  background-image: url("../svg/002-facebook-logo.svg");
}

.socials-link-icon-instagram {
  background-image: url("../svg/005-instagram.svg");
}

.socials-link-icon-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copyright {
  display: block;
  margin-top: 60px;
  text-align: center;
  font-size: 12px;
  color: #999999;
}


/* ============ MEDIA 1200 ============*/

@media (min-width: 1200px), (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
  .menu_button {
    display: none;
  }
}


/* ========== MEDIA 641-1199 ==========*/

@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
  
/* ==== media 641-1199 -heder ====*/

  .header {
    padding: 45px 0 125px;
    background-image: url("../images/banner-bg-tablet.jpg");
  }

  .header-wrapper {
    padding: 0 35px;
  }

  .logo {
    width: 160px;
}

  .header-title {
    font-size: 40px;
    line-height: 1.4;
    min-width: 610px;
  }

  .menu-list-item {
    display: none;
  }

/* ==== media 641-1199 -section trends ====*/

  .cards_trends_container, .cards_products {
    flex-wrap: wrap;
  }

  .section-trends {
    margin-top: 45px;
  }

  .trends_title, .products_title {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .card_trend {
    width: 49.8%;
    margin-bottom: 0.4%;
  }

  .more_trend {
    margin-top: 0;
    margin-bottom: 9px;
  }

  .card_trend_title {
    font-size: 17px;
    line-height: 1.3;
  }

/* ==== media 641-1199 -main ====*/

  .section {
    margin-top: 50px;
  }

  .section-wrapper {
    padding: 0 4.5%;
  }

  .blogs {
    width: calc(100% - 280px);
    margin-right: 4.5%;
  }

  .card {
    display: block;
  }

  .card:not(:first-child) {
    padding-top: 45px;
    border-top: 3px solid #eee;
  }

  .card:not(:last-child) {
   margin-bottom: 0;
   padding-bottom: 20px;
  }

  .card-media {
    margin-right: 0;
  }

  .preview-image {
    width: 100%;
  }

  .more {
    margin-top: 15px;
  }

  .preview-title {
    font-size: 17px;
    line-height: 1.3;
  }

  .card-metadata {
    margin-bottom: 35px;
  }

/* ==== media 641-1199 -sidebar ====*/

  .posts {
    padding-bottom: 60px;
  }

  .search-group {
    margin-bottom: 60px;
  }
  

  /* ==== media 641-1199 -products ====*/

  .products-wrapper {
    padding: 0 4.5%;
  }

  .products_title {
    font-size: 18px;
    margin-bottom: 35px;
  }

  .card_product {
    width: 48%;
  }

  .card_product:not(:last-child) {
    margin-bottom: 4.5%;
  }

  .product_title {
    font-size: 17px;
    line-height: 1.3;
  }

  /* ==== media 641-1199 -footer ====*/

  .footer {
    margin-top: 50px;
    padding-bottom: 35px;
  }

  .footer-wrapper {
    padding: 0 4.5%;
  }

  .copyright {
    margin-top: 50px;
  }
}


/* ========== MEDIA 360-641 ==========*/

@media (min-width: 360px) and (max-width: 640px) {
  
  .sidebar-title::after, .trends_title::after, .products_title::after {
    margin-top: 10px;
  }

/* ==== media 360-641-heder ====*/

  .header {
    padding: 30px 0 220px;
    background-image: url("../images/banner-mobile.jpg");
  }

  .container {
    flex-direction: column-reverse;
  }

  .menu {
    margin-bottom: 170px;
    align-self: flex-end;
  }

  .logo {
    width: 100%;
    max-width: 240px;
  }

  .menu-list-item {
    display: none;
  }

  .header-title {
    font-size: 26px;
    line-height: 1.4;
    margin-top: 40px;
  }

  /* === media 360-641-section trends ===*/

  .cards_trends_container, .section-wrapper, .card, .sidebar, .cards_products {
    display: block;
    width: 100%;
  }

  .section-trends {
    margin-top: 40px;
  }

  .trends_title, .products_title {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .card_trend {
    width: 100%;
    padding: 15px;
  }

  .card_trend:not(:last-child) {
    margin-bottom: 0.5%;
  }

  .content_card_trend {
    margin-top: 80px;
    padding: 25px 20px;
  }

  .card_trend_title {
    font-size: 16px;
    line-height: 1.3;
  }

  /*==== media 360-641 -main ====*/

  .section {
    margin-top: 45px;
  }

  .card-media {
    margin-right: 0;
  }

  .preview-image {
    width: 100%;
  }

  .card:not(:first-child) {
    padding-top: 35px;
    border-top: 3px solid #eee;
    margin-bottom: 0;
  }

  .card:not(:last-child) {
    margin-bottom: 0;
    padding-bottom: 20px;
  }

  .more {
    margin-top: 15px;
  }

  .preview-title {
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 25px;
  }

  .card-metadata {
    margin-bottom: 25px;
  }

  .preview-content {
    font-size: 14px;
    line-height: 1.4;
  }

   /* ==== media 360-641 -sidebar ====*/

  .sidebar {
    margin-top: 45px;
  }

  .sidebar-title {
    font-size: 16px;
    margin-bottom: 25px;
  }

  .posts {
    padding-bottom: 60px;
  }

  .search-group {
    margin-bottom: 40px;
  }

  .subscription-group {
    margin-bottom: 40px;
  }

  .tegs {
    margin-bottom: 40px;
  }

  .theme-list-item {
    padding: 12px 0 11px;
  }

  /* ==== media 360-641 -products ====*/

  .products-wrapper {
    margin-top: 40px;
  }

  .products_title{
    margin-bottom: 25px;
  }

  .card_product {
    width: 100%;
    flex-wrap: wrap;
  }

  .card_product:not(:last-child) {
    margin-bottom: 25px;
  }
 
  .product_imgbox {
    margin: 0 auto;
  }

  .product_title {
    font-size: 17px;
  }

  .product_description {
    font-family: inherit;
    font-size: 15px;
    line-height: 1.5;
  }

/* ==== media 360-641 -footer ====*/

  .footer {
    margin-top: 45px;
    padding-bottom: 45px;
  }

  .copyright {
    margin-top: 50px;
  }
}


@media (max-width: 640px) and (orientation: landscape) {

  .cards_trends_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card_trend {
    width: 49.8%;
  }
}